@import "../toolkit/stylesheets/_colours";
@import "../toolkit/stylesheets/_css3";
@import "../toolkit/stylesheets/_device-pixels";
@import "../toolkit/stylesheets/_typography";
@import "../toolkit/stylesheets/_conditionals";
@import "../toolkit/stylesheets/_shims";

@import "whitehall/_colours";
@import "whitehall/_organisations";

$discovery-colour: $fuschia;
$alpha-colour: $pink;
$beta-colour: $orange;
$live-colour: $grass-green;

#content {
  margin: 0 auto;
  max-width: 1020px;
  position: relative;
  display: block;
}

body.full-width article {
  margin: 0 15px;
  width: auto;

  @include media(tablet) {
    margin: 0 30px;
  }
}

.transaction-dashboard {
  .page-header {
    h1 {
      @include bold-48;

      @include media(tablet) {
        @include bold-80;
      }
    }

    h2 {
      @include core-24;

      @include media (tablet) {
        @include core-36;
      }
    }

    .hgroup {
      padding: 1em 0 2em 0;
    }
  }

  .about {
    @extend %contain-floats;
  }

    .transformation-logo {

      @include media(tablet) {
        width: 26.33334%;
        float: left;
      }

      img {
        display: block;
        margin: 0 auto 2em auto;
        max-width: 50%;

        @include media(tablet) {
          max-width: 80%
        }
      }

    }

    .transformation-intro {
      @include media(tablet) {
        width: 73.66666%;
        float: left;
      }
      p:first-child {
        margin-top: 0.5em;
      }
    }

  .latest {
    margin: 0 0 2em 0;
    border-top: 1px solid $border-colour;
  }

  .blog-link {
    margin: 0 0 2em 0;
    padding: 1em 0 0 0;
  }

  .media {
    @extend %contain-floats;
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid $border-colour;

      h4 {
        margin: 0 0 0.5em 0;
      }
  }

  .phases {
    list-style: none;
    margin: 2em 0;
    padding: 0 0 2em 0;

    border-bottom: 1px solid $border-colour;

    li {
      display: block;
      padding: 0;
      margin-left: 0;

      @include media(tablet) {
        float: left;

        width: 24%;
        margin: 0 (4%/6);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        @include ie(7) {
          margin: 0 (4%/8);
        }

        @include ie(8) {
          margin: 0 (4%/8);
        }
      }

      h2 {
        background-color: $panel-colour;

        @include bold-24;
        text-align: center;

        margin: 0;
        padding: 0.2em 0;

        a {
          color: $white;
          text-decoration: none;

          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .num-transactions {
        @include bold-80;
        text-align: center;
        color: $secondary-text-colour;

        margin: 0.2em 0;
      }

      p {
        @include core-19;
        text-align: center;

        width: 100%;

        @include media(tablet) {
          padding: 0;
          margin: 0;
        }
      }

      &.discovery {
        h2 {
          background-color: $discovery-colour;
        }

        .num-transactions {
          color: $discovery-colour;
        }
      }

      &.alpha {
        h2 {
          background-color: $alpha-colour;
        }

        .num-transactions {
          color: $alpha-colour;
        }
      }

      &.beta {
        h2 {
          background-color: $beta-colour;
        }

        .num-transactions {
          color: $beta-colour;
        }
      }

      &.live {
        h2 {
          background-color: $live-colour;
        }

        .num-transactions {
          color: $live-colour;
        }
      }
    }
  }

  table {
    display: block;
    @include media(tablet) {
      display: table;
    }

    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    width: 100%;

    thead {
      tr {
        visibility: hidden;
        height: 0;
      }

      th {
        text-align: left;
        padding: 0 2%;
        height: 0;
      }
    }

    .num {
      width: 10%;
    }

    .description {
      width: 90%;
    }

    .vol {
      width: 90%;
      margin: 0 0 0.5em 10%;
    }

    .dept {
      width: 90%;
      margin: 0 0 2em 10%;
    }

    @include media(tablet) {
      .num {
        width: 5%;
      }

      .description {
        width: 55%;
      }

      .vol {
        width: 20%;
      }

      .dept {
        width: 20%;
      }
    }

    tbody {
      tr {
        display: block;
      }

      td {
        display: block;
        float: left;
        background-color: transparent;
        border: none;
        padding: 0;
      }

      .num {
        @include bold-24;
        clear: left;
      }

      .vol {
        @include bold-24;
        clear: left;

        span {
          @include core-19;
          display: block;
        }
      }

      h3 {
        @include bold-24;
        margin-top: 0;
      }

    }

    @include media(tablet) {
      tbody {
        tr {
          display: table-row;
        }

        td {
          display: table-cell;
          float: none;
          vertical-align: top;
          padding: 10px 2% 1em 0;

          border-width: 1px 0 0 0;
          border-style: solid;
          border-color: $border-colour;
        }

        .num {
          text-align: right;
          padding-bottom: 0;
        }

        .vol {
          text-align: left;

          span {
            @include core-19;
            display: block;
          }
        }

        h3 {
          @include bold-24;
          margin-top: 0;
        }
      }
    }
  }

  .phase-tag {
    display: inline-block;

    color: #fff;
    @include bold-16;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;

    margin: 3px 0 0 0;
    padding: 2px 5px 0;

    &.discovery {
      background-color: $discovery-colour;
    }

    &.alpha {
      background-color: $alpha-colour;
    }

    &.beta {
      background-color: $beta-colour;
    }

    &.live {
      background-color: $live-colour;
    }
  }

  .digital-strategy {
    margin-top: 1.5em;
    border-top: 1px solid $border-colour;
  }

  &.transaction-single {
    .page-header {
      h1 {
        @include media(tablet) {
          @include bold-48;
        }

        span {
          @include core-27($line-height: 1);
          display: block;
          margin-bottom: 0.25em;
          color: $secondary-text-colour ;

          @include ie-lte(8) {
            height: 1%;
          }
        }
      }

      .hgroup {
        padding: 1em 0;

        @include media(tablet) {
          width: 64%;
          float: left;
          padding: 1em 0 2em;
        }
      }

      .organisations {
        @include media(tablet) {
          float: right;
          width: 31%;
        }

        padding: 1em 0;

        &>div {
          padding-bottom: 1em;
        }
      }
    }

    .body {
      @include media(tablet) {
        width: 60%;
        margin: 0 3% 2em 0;
        float: left;
      }
    }

    .intro {
      margin: 0;
      padding: 0;
      p:first-child {
        @include core-24;
      }
    }

    /*
    .transformation-logo {
      width: 25%;
      display: block;
      float: left;
      margin: 0 1em 1em 0;

      img {
        width: 100%;
      }
    }
    */

    blockquote {
      @include core-24;
      position: relative;
      margin: 1em 0;

      &:before {
        content: "“";
        @include bold-80;
        font-size: 200px;
        color: $panel-colour;

        z-index: -1;
        position: absolute;
        left: -10px;
        top: -10px;

        @include media(tablet) {
          left: -30px;
          top: -30px;
        }
      }
    }

    cite {
      font-style: normal;
    }

    .screengrabs {
      margin-top: 3em;
    }
    .screengrab {
      @include media(tablet) {
        float: left;
        width: 47.5%;
        margin: 0 0 2em 5%;
        &:nth-child(odd) {
          margin-left: 0;
          clear: left;
        }
      }
      img {
        width: 100%;
        border: 1px solid $border-colour;
      }
    }

    aside {
      @include media(tablet) {
        width: 31%;
        float: right;
      }

      &>div {
        margin: 0 0 1em 0;
        border-bottom: 1px solid $border-colour;

        p {
          @include core-14;
        }
      }

      small {
        @include core-14;
        display: block;
      }

      .status-story {
        list-style: none;
        margin: 0 0 2em 0;
        padding: 0; 
        & > li {
          border-left: 1px solid;
          margin: 0;
          padding: 0 0 0.5em 0;

          &.discovery {
            border-color: $discovery-colour;
          }

          &.alpha {
            border-color: $alpha-colour;
          }

          &.beta {
            border-color: $beta-colour;
          }

          &.live {
            border-color: $live-colour;
          }
        }
        h4 {
          margin: 0 0 0.75em 0;
        }
      }
      .phase {
        display: inline-block;
        @include bold-24;
        color: $white;

        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;

        line-height: 1.25;
        padding: 4px 5px 0px 5px;

        &.discovery {
          background-color: $discovery-colour;
        }

        &.alpha {
          background-color: $alpha-colour;
        }

        &.beta {
          background-color: $beta-colour;
        }

        &.live {
          background-color: $live-colour;
        }
      }
      .phase-story {
        margin: 0;
        padding-left: 0;
        li {
          list-style: none;
          font-size: 17px;
          margin: 0.4em 0;
        }
      }
      .discovery .complete {
          color: $discovery-colour;
      }
      .alpha .complete {
          color: $alpha-colour;
      }
      .beta .complete {
          color: $beta-colour;
      }
      .live .complete {
          color: $live-colour;
      }

      .service-link {
        @include core-19;
      }

      .big-number {
        margin: 0.2em 0;

        @include bold-80;

        span {
          @include core-19;
          display: block;
          color: $text-colour;
        }

        small {
          color: $text-colour;
        }

        &.transactions-explorer {
          color: $turquoise;
        }
      }
    }
  }
}

// LEGACY only. Temp.
a.current-phase {
  display: inline-block;
  @include bold-24;
  color: $white;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  line-height: 30px;
  padding: 4px 5px 0px 5px;

  &.discovery {
    background-color: $discovery-colour;
  }

  &.alpha {
    background-color: $alpha-colour;
  }

  &.beta {
    background-color: $beta-colour;
  }

  &.live {
    background-color: $live-colour;
  }
}