.organisation-logo-stacked-no-identity {
}
.organisation-logo-identity {
  border-left: 2px solid;
}


// Plain single identity
.organisation-logo-single-identity {
  @extend .organisation-logo-identity;

  padding: 3px 0 2px 35px;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/org_crest_13px-ff51bae73255332e49fd9390e039c37a.png);
  background-position: 5px center;
  background-size: auto 20px;
}
.organisation-logo-stacked-single-identity {
  @extend .organisation-logo-identity;

  background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/org_crest_13px-ff51bae73255332e49fd9390e039c37a.png);
  background-position: 5px top;
  background-size: auto 20px;
}
.organisation-logo-stacked-single-identity span {
  display: block;
  position: relative;
  top: 3px;
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  .organisation-logo-single-identity,
  .organisation-logo-stacked-single-identity {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/org_crest_13px_x2-84f252bc78de1b6bdca860d1860d2fb4.png);
  }
}

// BIS
.organisation-logo-bis {
  @extend .organisation-logo-identity;

  padding: 3px 0 2px 30px;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/bis_crest_13px-5163d02686b4a53180953e9bfff973a7.png);
  background-position: 5px center;
  background-size: auto 20px;
}
.organisation-logo-stacked-bis {
  @extend .organisation-logo-identity;

  background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/bis_crest_13px-5163d02686b4a53180953e9bfff973a7.png);
  background-position: 5px top;
  background-size: auto 20px;
}
.organisation-logo-stacked-bis span {
  display: block;
  position: relative;
  top: 3px;
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  .organisation-logo-bis,
  .organisation-logo-stacked-bis {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/bis_crest_13px_x2-ffda2fc986e6e576d98457be6241b28f.png);
  }
}

// Home Office
.organisation-logo-ho {
  @extend .organisation-logo-identity;

  padding: 5px 0 5px 24px;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/ho_crest_13px-b6c35fe92b71fca8290dc9a65f03d66c.png);
  background-position: 5px center;
  background-size: auto 25px;
}
.organisation-logo-stacked-ho {
  @extend .organisation-logo-identity;

  background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/ho_crest_13px-b6c35fe92b71fca8290dc9a65f03d66c.png);
  background-position: 5px top;
  background-size: auto 25px;
}
.organisation-logo-stacked-ho span {
  display: block;
  position: relative;
  top: 3px;
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  .organisation-logo-ho,
  .organisation-logo-stacked-ho {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/ho_crest_13px_x2-40d7bcdd5fdb91391da151147c4060c9.png);
  }
}

// HMRC
.organisation-logo-hmrc {
  @extend .organisation-logo-identity;

  padding: 3px 0 2px 30px;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/hmrc_crest_13px-980149bdc5c6317c51aa27b50355d988.png);
  background-position: 5px center;
  background-size: auto 20px;
}
.organisation-logo-stacked-hmrc {
  @extend .organisation-logo-identity;

  background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/hmrc_crest_13px-980149bdc5c6317c51aa27b50355d988.png);
  background-position: 5px top;
  background-size: auto 20px;
}
.organisation-logo-stacked-hmrc span {
  display: block;
  position: relative;
  top: 3px;
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  .organisation-logo-hmrc,
  .organisation-logo-stacked-hmrc {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/hmrc_crest_13px_x2-d2ca211f12a956af3fea090f0c6fac57.png);
  }
}

// Non-cornforming Medium
.organisation-logo-no-identity-medium {
  @include media(tablet){
    font-size: 18px;
    line-height: 20px;
    padding: 3px 0 2px 0;
  }
}
.organisation-logo-identity-medium {
  @extend .organisation-logo-no-identity-medium;
  @include media(tablet){
    border-left: 2px solid;
  }
}

// Single identity Medium
.organisation-logo-single-identity-medium {
  @extend .organisation-logo-identity-medium;
  @include media(tablet){
    padding: 3px 0 2px 44px;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/org_crest_18px-0d15a5b24181c00d5a39e015b2e894e3.png);
    background-position: 6px center;
    background-size: auto 25px;
  }
}
.organisation-logo-stacked-single-identity-medium {
  @extend .organisation-logo-identity-medium;
  @include media(tablet){

    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/org_crest_18px-0d15a5b24181c00d5a39e015b2e894e3.png);
    background-position: 6px top;
    background-size: auto 25px;
  }
}
@include media(tablet){
  .organisation-logo-stacked-single-identity-medium span {
      display: block;
      position: relative;
      top: 3px;
  }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .organisation-logo-single-identity-medium,
    .organisation-logo-stacked-single-identity-medium {
      background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/org_crest_18px_x2-cb179227fd59d45caa667218e3b8309c.png);
    }
  }
}

// BIS Medium
.organisation-logo-bis-medium {
  @extend .organisation-logo-identity-medium;
  @include media(tablet){
    padding: 3px 0 2px 38px;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/bis_crest_18px-e0ad84b8f02a467177eed65775fc9ffa.png);
    background-position: 6px center;
    background-size: auto 25px;
  }
}
.organisation-logo-stacked-bis-medium {
  @extend .organisation-logo-identity-medium;
  @include media(tablet){

    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/bis_crest_18px-e0ad84b8f02a467177eed65775fc9ffa.png);
    background-position: 6px top;
    background-size: auto 25px;
  }
}
@include media(tablet){
  .organisation-logo-stacked-bis-medium span {
    display: block;
    position: relative;
    top: 3px;
  }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .organisation-logo-bis-medium,
    .organisation-logo-stacked-bis-medium {
      background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/bis_crest_18px_x2-85fdb392929d74f2d12f6ea3f74971c0.png);
    }
  }
}

// Home Office Medium
.organisation-logo-ho-medium {
  @extend .organisation-logo-identity-medium;
  @include media(tablet){
    padding: 8px 0 7px 32px;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/ho_crest_18px-6607634d62bea5b5bd6c57de6ab9d7d0.png);
    background-position: 6px center;
    background-size: auto 35px;
  }
}
.organisation-logo-stacked-ho-medium {
  @extend .organisation-logo-identity-medium;
  @include media(tablet){

    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/ho_crest_18px-6607634d62bea5b5bd6c57de6ab9d7d0.png);
    background-position: 6px top;
    background-size: auto 35px;
  }
}
@include media(tablet){
  .organisation-logo-stacked-ho-medium span {
    display: block;
    position: relative;
    top: 3px;
  }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .organisation-logo-ho-medium,
    .organisation-logo-stacked-ho-medium {
      background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/ho_crest_18px_x2-a7d11a3aba0f51a46425c42b214f8cd0.png);
    }
  }
}

// HMRC Medium
.organisation-logo-hmrc-medium {
  @extend .organisation-logo-identity-medium;
  @include media(tablet){
    padding: 3px 0 2px 38px;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/hmrc_crest_18px-f569ad3e7d4389b8b79e7f30c77288e9.png);
    background-position: 6px center;
    background-size: auto 25px;
  }
}
.organisation-logo-stacked-hmrc-medium {
  @extend .organisation-logo-identity-medium;
  @include media(tablet){

    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/hmrc_crest_18px-f569ad3e7d4389b8b79e7f30c77288e9.png);
    background-position: 6px top;
    background-size: auto 25px;
  }
}
@include media(tablet){
  .organisation-logo-stacked-hmrc-medium span {
    display: block;
    position: relative;
    top: 3px;
  }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .organisation-logo-hmrc-medium,
    .organisation-logo-stacked-hmrc-medium {
      background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/hmrc_crest_18px_x2-386964197337df2ed7547bbb175ba107.png);
    }
  }
}

// Non-conforming Large
.organisation-logo-no-identity-large,
.organisation-logo-stacked-no-identity-large {
  @include media(tablet){
    font-size: 27px;
    line-height: 30px;
    padding: 5px 0 5px 0;
  }
}
.organisation-logo-identity-large {
  @extend .organisation-logo-no-identity-large;
  @include media(tablet){
    border-left: 3px solid;
  }
}

// Single Identity Large
.organisation-logo-single-identity-large {
  @extend .organisation-logo-identity-large;
  @include media(tablet){
    padding: 5px 0 5px 65px;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/org_crest_27px-84f252bc78de1b6bdca860d1860d2fb4.png);
    background-position: 9px center;
    background-size: auto 40px;
  }
}
.organisation-logo-stacked-single-identity-large {
  @extend .organisation-logo-identity-large;
  @include media(tablet){
    padding: 40px 0 0 10px;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/org_crest_27px-84f252bc78de1b6bdca860d1860d2fb4.png);
    background-position: 9px top;
    background-size: auto 40px;
  }
}
@include media(tablet){
  .organisation-logo-stacked-single-identity-large span {
    display: block;
    position: relative;
    top: 5px;
  }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .organisation-logo-single-identity-large,
    .organisation-logo-stacked-single-identity-large {
      background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/org_crest_27px_x2-123bf2593f000621d75a747943e02778.png);
    }
  }
}

// BIS Large
.organisation-logo-bis-large {
  @extend .organisation-logo-identity-large;
  @include media(tablet){
    padding: 5px 0 5px 56px;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/bis_crest_27px-90542747143cc834fbad22288926451d.png);
    background-position: 9px center;
    background-size: auto 40px;
  }
}
.organisation-logo-stacked-bis-large {
  @extend .organisation-logo-identity-large;
  @include media(tablet){
    padding: 40px 0 0 10px;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/bis_crest_27px-90542747143cc834fbad22288926451d.png);
    background-position: 9px top;
    background-size: auto 40px;
  }
}
@include media(tablet){
  .organisation-logo-stacked-bis-large span {
    display: block;
    position: relative;
    top: 5px;
  }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .organisation-logo-bis-large,
    .organisation-logo-stacked-bis-large {
      background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/bis_crest_27px_x2-9dff21035fbbf5a3fb49f206a6814309.png);
    }
  }
}

// Home Office Large
.organisation-logo-ho-large {
  @extend .organisation-logo-identity-large;
  @include media(tablet){
    padding: 10px 0 10px 46px;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/ho_crest_27px-40d7bcdd5fdb91391da151147c4060c9.png);
    background-position: 9px center;
    background-size: auto 50px;
  }
}
.organisation-logo-stacked-ho-large {
  @extend .organisation-logo-identity-large;
  @include media(tablet){
    padding: 50px 0 0 10px;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/ho_crest_27px-40d7bcdd5fdb91391da151147c4060c9.png);
    background-position: 9px top;
    background-size: auto 50px;
  }
}
@include media(tablet){
  .organisation-logo-stacked-ho-large span {
    display: block;
    position: relative;
    top: 5px;
  }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .organisation-logo-ho-large,
    .organisation-logo-stacked-ho-large {
      background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/ho_crest_27px_x2-882fddf959906677870dffdee5a8da1a.png);
    }
  }
}

// HMRC Large
.organisation-logo-hmrc-large {
  @extend .organisation-logo-identity-large;
  @include media(tablet){
    padding: 5px 0 5px 56px;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/hmrc_crest_27px-d2ca211f12a956af3fea090f0c6fac57.png);
    background-position: 9px center;
    background-size: auto 40px;
  }
}
.organisation-logo-stacked-hmrc-large {
  @extend .organisation-logo-identity-large;
  @include media(tablet){
    padding: 40px 0 0 10px;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/hmrc_crest_27px-d2ca211f12a956af3fea090f0c6fac57.png);
    background-position: 9px top;
    background-size: auto 40px;
  }
}
@include media(tablet){
  .organisation-logo-stacked-hmrc-large span {
    display: block;
    position: relative;
    top: 5px;
  }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .organisation-logo-hmrc-large,
    .organisation-logo-stacked-hmrc-large {
      background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/hmrc_crest_27px_x2-d125332a6c012fe3646d7b6bf08c53d7.png);
    }
  }
}

@include department-colours('.organisation-logo', border-color);

.agency-logo {
  font-family: $Helvetica-Regular;
  font-size: 19px;
  line-height: (20/19); /* 20px */
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  color: $text-colour;
  display: block;
  height: auto;
  width: auto;

  // @include media-down(mobile) {
  //   font-size: 13px;
  //   line-height: (15/13);
  // }
}