  <div>
    <a href="/transformation" class="transformation-logo"><img src="/transformation/assets/images/transformation-logo.png" alt="Transformation programme logo"></a>

    <p>This page will keep you up to date on the progress of the {{ page.exemplar_number | ordinal }} exemplar in our <a href="/transformation">Transformation programme</a> – {{ page.title }}.</p>

    <p>Right now it contains our <a href="#digital-strategy">original strategy statement</a> for the exemplar, the <a href="#business-case">business case</a> we've developed during the discovery phase of the programme, a quick description of <a href="#benefits">the benefits we aim to deliver to users</a> and other useful background information – as available.</p>

    <p>As the programme continues you'll be able to see progress reflected here and the information will become richer – there'll be links to the programme blog, screenshots of software in development and more and better data as we learn more about the delivery of the service.</p>
  </div>
