---
layout: default-wrapper
section_class: default
---

{% include _breadcrumbs.html %}

<article role="article" class="group">
  <header class="page-header group">
    <div class="hgroup">
      <h1><span>Transformation update</span> {{ page.title }}</h1>
    </div>

    {% if page.organisations %}
    <div class="organisations">
      {% for org in page.organisations %}
      {% if forloop.first %}
      <div class="{{ org.slug }}">
        <span class="organisation-logo {% case org.slug%}{% when "department-for-business-innovation-skills" %} organisation-logo-stacked-bis-medium{% when "home-office" %} organisation-logo-stacked-ho-medium{% when "hmrc" %} organisation-logo-stacked-hmrc-medium{% else %} organisation-logo-stacked-single-identity-medium{% endcase %}">
          <span>{{ org.title }}</span>
        </span>
      </div>
      {% else %}
      <div class="{{ org.slug }}">
        <span class="agency-logo">{{ org.title }}</span>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </header>

  {{ content }}

</article>