---
layout: default-wrapper
section_class: default
---

{% include _breadcrumbs.html %}

<article role="article" class="group">
  <header class="page-header group">
    <div class="hgroup">
      <h1><span>Exemplar number {{ page.exemplar_number }}</span> {{ page.title }}</h1>
      <div class="intro"><p>{{ page.intro }}</p></div>
    </div>

    {% if page.organisations %}
    <div class="organisations">
      {% for org in page.organisations %}
      {% if forloop.first %}
      <div class="{{ org.slug }}">
        <a href="{{ page.department-url }}" class="organisation-logo {% case org.slug%}{% when "department-for-business-innovation-skills" %} organisation-logo-stacked-bis organisation-logo-stacked-bis-medium{% when "home-office" %} organisation-logo-stacked-ho organisation-logo-stacked-ho-medium{% when "hm-revenue-customs" %} organisation-logo-stacked-hmrc organisation-logo-stacked-hmrc-medium{% else %} organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-medium{% endcase %}">
          <span>{{ org.title }}</span>
        </a>
      </div>
      {% else %}
      <div class="{{ org.slug }}">
        <span class="agency-logo">{{ org.title }}</span>
      </div>
      {% endif %}
      {% endfor %}

      {% if page.permanent-secretary %}
        <div class="person">
          <span class="person-position">Permanent secretary: </span>{{ page.permanent-secretary }}
        </div>
      {% endif %}

      {% if page.digital-leader %}
        <div class="person">
          <span class="person-position">Digital leader: </span>{{ page.digital-leader }}
        </div>
      {% endif %}

    </div>
    {% endif %}
  </header>

  {{ content }}

</article>