---
layout: default-wrapper
section_class: default
---

{% include _breadcrumbs.html %}

<article role="article" class="group">
  <header class="page-header group">
    <div class="hgroup">
      <h1><span>Transformation update</span> {{ page.title }}</h1>
    </div>

    {% if page.organisations %}
    <div class="organisations">
      {% for org in page.organisations %}
      {% if forloop.first %}
      <div class="{{ org.slug }}">
        <span class="organisation-logo organisation-logo-single-identity organisation-logo-single-identity-medium">
          <span>{{ org.title }}</span>
        </span>
      </div>
      {% else %}
      <div class="{{ org.slug }}">
        <span class="agency-logo">{{ org.title }}</span>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </header>

  {{ content }}

</article>