---
layout: govuk_template
---

<nav role="navigation" class="breadcrumbs">
  <ol class="group">
    <li><a href="/">Home</a></li>
  </ol>
</nav>

<main id="content" class="main-content" role="main">

  <header class="homepage-header">
    <h1>{{ page.headline-title }}</h1>
  </header>

  <div class="transformation-logo homepage-transformation-logo">
    <img src="/transformation/assets/images/transformation-logo.png" alt="Transformation programme logo" />
  </div>

  <article class="homepage-content" role="article">
    {{ page.content | markdownify }}
  </article>

</main>
